.block {
    display: block;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
}
.inline {
    display: inline;
    background-color: lightgreen;
    margin: 10px;
    padding: 10px;
}
.inline-block {
    display: inline-block;
    width: 240px;
    height: 120px;
    background-color: lightcoral;
    margin: 10px;
    padding: 10px;
}